*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    min-height: 100vh;
    background-color: #126984;
}

.primera{
    max-width: 1200px;
    position: relative;
}

.primera i{
    width: 50px;
    height: 50px;
    top: 50%;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    border-radius: 25%;
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    transform: translateY(-50%);
}

.primera i:first-child{
    left: -23px;
}

.primera i:last-child{
    right: -23px;
}

.primera .carrusel{
    /* para ponerlos en linea */
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}


.carrusel img{
    width: calc(105% / 2);
    height: 525px;
    object-fit: cover;
    margin-left: 10px;
}

.carrusel img:first-child{
    margin-left: 0px;
}

/* PARTE RESPONSIBE */

@media screen and (max-width:900px){
    .carrusel img{
        width: calc(98% / 1);
        height: 525px;
        object-fit: cover;
        margin-left: 10px;
    }

    .primera i:first-child{
        left: -5px;
    }
    
    .primera i:last-child{
        right: -5px;
    }
}